<div class="actions-container">
  <button mat-raised-button color="primary" class="action-button email-button" (click)="sendEmail()">
    <div class="button-content">
      <mat-icon>email</mat-icon>
      <span>Send Account Details</span>
    </div>
  </button>

  <button mat-raised-button color="accent" class="action-button excel-button" (click)="exportToExcel()">
    <div class="button-content">
      <mat-icon>download</mat-icon>
      <span>Export to Excel</span>
    </div>
  </button>
</div> 