<div class="container-fluid">
  <!-- Row for Fraud Cases, Audits, and Activity Log Charts -->
  <div class="row justify-content-center mb-4">
    <!-- Fraud Cases Chart -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
      <div class="card shadow-sm border-0 rounded-lg">
        <div class="card-header bg-primary text-white">
          <h4 class="card-title mb-0 text-center">Fraud Cases Distribution</h4>
        </div>
        <div class="card-body">
          <apx-chart
            #fraudCasesChart
            [series]="fraudCasesChartOptions.series"
            [chart]="fraudCasesChartOptions.chart"
            [dataLabels]="fraudCasesChartOptions.dataLabels"
            [stroke]="fraudCasesChartOptions.stroke"
            [title]="fraudCasesChartOptions.title"
            [xaxis]="fraudCasesChartOptions.xaxis">
          </apx-chart>
        </div>
      </div>
    </div>

    <!-- Audits Chart -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
      <div class="card shadow-sm border-0 rounded-lg">
        <div class="card-header bg-success text-white">
          <h4 class="card-title mb-0 text-center">Audits Data</h4>
        </div>
        <div class="card-body">
          <apx-chart
            #auditsChart
            [series]="auditsChartOptions.series"
            [chart]="auditsChartOptions.chart"
            [dataLabels]="auditsChartOptions.dataLabels"
            [stroke]="auditsChartOptions.stroke"
            [title]="auditsChartOptions.title"
            [xaxis]="auditsChartOptions.xaxis">
          </apx-chart>
        </div>
      </div>
    </div>

    <!-- Activity Log Chart -->
    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
      <div class="card shadow-sm border-0 rounded-lg">
        <div class="card-header bg-warning text-white">
          <h4 class="card-title mb-0 text-center">Activity Log Data</h4>
        </div>
        <div class="card-body">
          <apx-chart
            #activityLogChart
            [series]="activityLogChartOptions.series"
            [chart]="activityLogChartOptions.chart"
            [dataLabels]="activityLogChartOptions.dataLabels"
            [stroke]="activityLogChartOptions.stroke"
            [title]="activityLogChartOptions.title"
            [xaxis]="activityLogChartOptions.xaxis">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
