<div *ngIf="item.navCap" mat-subheader class="nav-caption">
  {{ item.navCap }}
</div>

<a *ngIf="!item.navCap && !item.external && !item.twoLines"
   mat-list-item
   (click)="onItemSelected(item)"
   [ngClass]="{
     'mat-toolbar mat-primary activeMenu': item.route
       ? router.isActive(item.route, true)
       : false
   }"
   class="menu-list-item">
  <i-tabler class="routeIcon" [name]="item.iconName" matListItemIcon></i-tabler>
  <span class="hide-menu">{{ item.displayName }}</span>
  <span *ngIf="item.children" class="ml-auto">
    <i-tabler name="chevron-down" class="arrow-icon" [ngClass]="{ 'rotate': expanded }"></i-tabler>
  </span>
</a>

<mat-nav-list *ngIf="expanded && item.children" class="sub-menu">
  <app-nav-item *ngFor="let child of item.children" [item]="child" [depth]="depth + 1"></app-nav-item>
</mat-nav-list>
