<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
          </div>

          <form (ngSubmit)="resetPassword()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">New Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter your new password" required />
            </mat-form-field>

            <div *ngIf="successMessage" class="text-success">
              {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="text-danger">
              {{ errorMessage }}
            </div>

            <button mat-flat-button color="primary" class="w-100" type="submit" [disabled]="!newPassword">
              Reset Password
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
