<mat-toolbar class="topbar">

  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-md-none justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>


  <button mat-icon-button  [matMenuTriggerFor]="notificationsMenu" aria-label="Notifications" [matBadge]="unseenCount" matBadgeColor="primary" (click)="loadNotifications()">
    <i-tabler class="d-flex" name="bell"></i-tabler>
  </button>
  <!-- Notification Dropdown -->
  <mat-menu #notificationsMenu="matMenu">
    <ng-container *ngFor="let notification of notifications">
      <button mat-menu-item (click)="markAsSeen(notification.id)">
        {{ notification.message }}
      </button>
    </ng-container>
  </mat-menu>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover" width="35"  alt=""/>
  </button>
  <mat-menu #profilemenu="matMenu" class="cardWithShadow">
    <button mat-menu-item (click)="goToProfile()">
      <mat-icon class="d-flex align-items-center">
        <i-tabler name="user" class="icon-18 d-flex"></i-tabler>
      </mat-icon>
      My Profile
    </button>

    <div class="p-x-12 m-t-12">
      <button mat-stroked-button color="primary" (click)="logout()" class="w-100">
        Logout
      </button>
    </div>

  </mat-menu>
</mat-toolbar>
<app-custom-notification [notifications]="notifications"></app-custom-notification>


