<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32 text-center">

          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="../../assets/images/Front/logo.png" alt="logo" style="width: 240px; height: auto;" />
            </a>
          </div>

          <h2 class="m-t-24 mb-4">Choose Login Method</h2>

          <button mat-flat-button color="primary" class="w-100 mb-3" (click)="goToEmailLogin()">
            <mat-icon>email</mat-icon>&nbsp; Login with Email
          </button>

          <button mat-flat-button color="accent" class="w-100" (click)="goToFaceLogin()">
            <mat-icon>face</mat-icon>&nbsp; Login with Face Recognition
          </button>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
