/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width-table {
  width: 100%;
}

.m-t-16 {
  margin-top: 16px;
}

.m-t-24 {
  margin-top: 24px;
}

.centered {
  text-align: center;
}

.page-info {
  font-weight: 500;
}
.recaptcha-wrapper {
  display: flex;
  justify-content: center;
  margin: 16px 0; /* spacing above and below */
}
